.welcome{
    border: 1px solid #9B51E0;
    padding:  20px 20px 20px 30px;
    border-radius:35px;
    background-color: #fff;
    /* margin-top: 120px; */
    margin: 0px 20px;
    display: flex;
    justify-content:space-between;
  }

  .welcome h1{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 21px;
    color: #962E40;
  }
.welcome p{
    font-size: 15px;
    margin-bottom: 0px;
    color: #9B51E0
}


.campaign-wallet{
    padding:20px;
}
.campaign-wallet-card{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* margin:10px; */
    border-radius:35px;
    padding-top:15px;
    background-color: #fff;
  }

  .campaign-wallet-card-wrapper{
    display: flex;
    justify-content: space-between;
  }
  
.dot{
    width: 13px;
    height: 13px;
   
    border-radius:50%;
    margin-top:5px
  }

  .status{
    width: 10px;
    height: 10px;
   margin-top: auto;
   margin-bottom: auto;
    border-radius:50%;
  }

  .dots-wrapper{
    padding: 20px  ;
  }
  .dots{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size:16px;
  
  }

  @media screen and (max-width: 500px){
    .campaign-wallet-card-wrapper{
      flex-direction: column;
    }
}


.ad-accounts-container{
  margin: 30px 20px;
  display: grid;
  /* place-items: center; */
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .ad-accounts-container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .ad-accounts-container {
    display: grid;
    gap: 20px;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}


.ad-account-card{
  width: 20rem;
  margin-top: 30px;
  background: #FFFFFF;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.03);
  border-radius: 35px;
  text-align: left;
}

.ad-account-card-menu{
  display: flex;
  justify-content: space-between;
}

.ad-account-card-option{
  border: none;
  background: transparent;
}

.ad-account-card-option:hover{
  border: none;
  background: transparent;
}

.ad-account-card-option:focus{
  border: none !important;
  background: transparent !important;
  outline: none !important;
  outline-offset: none !important;
}

.sorting-option{
  border: none;
  background: transparent;
  color: #962E40;
}

.sorting-option:hover{
  border: none;
  background: transparent;
  color: #962E40;
}

.sorting-option:focus{
  border: none !important;
  background: transparent !important;
  outline: none !important;
  outline-offset: none !important;
  color: #962E40 !important;
}

.dropdown-options{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #9B51E0;
}

.ad-account-card-info{
  padding: 20px;
}

.ad-account-card-info p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  color: #962E40;
  text-align: left;
}

.account-campaign-data{
  padding: 20px;
}

.data-status{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-adAccount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-adAccount-btn{
  color: #9B51E0;
  font-size: 50px;
  cursor: pointer;
}

.add-adAccount h4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  line-height: 29px;

  color: #962E40;
}

.brand-logo >img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

