.navbar{
  background:#962E40;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-body{
  padding:0px;
}

.modal-head{
  max-height:200px;
}

.modal-dialog{
  max-width: 60vw;
}

.my-camp{
  background:#962E40;
  padding:10px 20px;
  color:#fff;;
  border-style: none;border-radius: 6px;
}

.scroll-area{
  overflow-y: scroll;
  max-height: 20rem;
  
}

.scroll-area::-webkit-scrollbar{
  width: 9px;
  
}

.scroll-area::-webkit-scrollbar-thumb{
  background-color: lightgray;
}

.campaign-wallet{
  padding:20px;
}
.campaign-box{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* profile */

.profile-buttons{
  display: flex;
  gap: 10px;
}

.active .menu-item{
  background-color: #962E40;
}


.profile-header{
  display: flex;
  justify-content:space-between;
  background:#962E40;
  color: #fff;
  font-weight: 600;
  margin-top:50px;
  padding: 20px;
}

.profile-card-wrapper{
height: 535px;
margin-bottom: 150px;
}

#cancel{
  width: 100px;
  height:40px;
  font-size:14px;
  border-radius:8px;
  background-color: #962E40;
  border: 1px solid #fff;
  font-weight: 600;
  color: #fff;
  margin-top:10px;
}

#edit-profile{
  width: 100px;
  height:40px;
  font-size:14px;
  border-radius:8px;
  background-color: #fff;
  border:none;
  font-weight: 600;
  color: #962E40;
  margin-top:10px;
}

.profile-data{
  font-size: 18px;
  font-weight: 600;
  padding-left: 75px;
}

.data-row{
  padding-top:10px;
  padding-bottom:10px;
}

.link{
  text-decoration: none;
}

@media screen and (max-width: 500px){
  .profile-header{
    display: flex;
    flex-direction: column;
    
  }
  .profile-card-wrapper {
    width: 80%;
    padding: 0px;
   
  }

  .profile-section{
    margin-left: 80px;
  }
}

@media screen and (max-width: 900px){
  .profile-section{
    margin-left: 80px;
  }
}