.navbar{
  background:#fff;
  color: #962E40;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-body{
  padding:0px;
}

.modal-head{
  max-height:200px;
}

.modal-dialog{
  max-width: 60vw;
}

.modal-content{
  border-radius: 35px;
}

.my-camp{
  background:#fff;
  padding:7px 35px;
  color:#962E40;;
  border-style: none;border-radius: 6px;
}

.scroll-area{
  overflow-y: scroll;
  max-height: 20rem;
  
}

.scroll-area::-webkit-scrollbar{
  width: 9px;
  
  
}

.scroll-area::-webkit-scrollbar-thumb{
  background-color: #9B51E0;
}

.campaign-wallet{
  padding:20px;
}
.campaign-box{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* profile */

.profile-buttons{
  display: flex;
  gap: 10px;
}

.active .menu-item{
  background-color: #962E40;
}


/* .profile-header{
  display: flex;
  justify-content:space-between;
 
  color: #fff;
  font-weight: 600;
  margin-top:50px;
  
} */

.profile-card-wrapper{
height: 535px;
margin-bottom: 150px;
padding: 0px 20px;
}

#cancel{
  padding: 7px 35px;
  font-size:14px;
  border-radius:10px;
  background-color: #fff;
  color: #962E40;
  border: 1px solid #962E40;
  font-weight: 600;
  
  margin-top:10px;

}

#edit-profile{
  padding: 7px 35px;
  font-size:14px;
  border-radius:10px;
  background-color: #962E40;
  border:none;
  font-weight: 600;
  color: #fff;
  margin-top:10px;
}

.profile-data{
  font-size: 18px;
  font-weight: 600;
  padding-left: 75px;
  padding-top: 5px;
 
}

.data-row{
  padding-top:20px;
  padding-bottom:10px;
}

.link{
  text-decoration: none;
}

.welcome{
  border: 1px solid #9B51E0;
  padding: 35px 36px;
  border-radius:35px;
  background-color: #fff;
  /* margin-top: 120px; */
  margin: 0px 20px;
  display: flex;
  justify-content:space-between;
}

.timer{
  font-size:14px;
  border: 1px solid #fff;
  padding: 4px;
  border-radius:8px;
  
}

.icon{
  width: 98px;
  height:98px;

 color: #fff;
 padding: 8px;
 border-radius: 50%;
 margin-top: -60px;
 margin-left: 30px;
 
}

@media screen and (max-width: 500px){
  .profile-header{
    display: flex;
    flex-direction: column;
    
  }
  .profile-card-wrapper {
    width: 80%;
    padding: 0px;
   
  }

  .profile-section{
    margin-left: 80px;
  }
}

@media screen and (max-width: 900px){
  .profile-section{
    margin-left: 80px;
  }
}